@import "reset";
@import "colours";

.row {
    display: flex;
    flex-direction: row;    
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

.selected {
    background-color: gray;
}

.possible {
    background-color: green;
}
