@import "reset";
@import "colours";

.container, .row {
    white-space: nowrap;
}

.cell {
    display: inline-block;
    border: 1px solid black;
    width: 70px;
    height: 70px;
}

.selected{
    background-color: gray;
}
